numpy
scipy
galsim
fitsio~=0.9.12
pyyaml
numba
easyaccess
click
git+https://github.com/esheldon/psfex.git@master
git+https://github.com/esheldon/meds.git@master
git+https://github.com/esheldon/desmeds.git@master
esutil
sep
joblib
jinja2
blosc
tqdm
