numpy
scipy
galsim
fitsio
pyyaml
numba
des-easyaccess
des-desmeds>=0.9.14
meds
ngmix
click
esutil
sep
joblib
jinja2
piff
cfitsio
setuptools_scm
setuptools_scm_git_archive
importlib_metadata
hilbertcurve
metadetect>=0.3.10
